@import "src/@fuse/scss/fuse";

.event-form-dialog {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 480px;
    }
    input {
        color: black !important;
    }
    textarea {
        color: black !important;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
    .tags {
        .tag {
            background-color: rgba(0, 0, 0, 0.08);
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;

            .tag-color {
                &.ACCEPTED {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                    background-color: rgb(56, 142, 60);
                }
                &.PENDING {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                    background-color: rgb(255, 170, 13);
                }
                &.DECLINE {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                    background-color: rgb(197, 16, 16);
                }
            }
        }
    }
}
