<div *ngIf="mail">
    <div
        class="mail-header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div>
            <div class="label-title">Ratings</div>
            <div class="subject">
                <mat-icon class="amber-fg">star</mat-icon>
                <mat-icon class="amber-fg">star</mat-icon>
                <mat-icon class="amber-fg">star</mat-icon>
                <mat-icon class="amber-fg">star</mat-icon>
                <mat-icon class="amber-fg">star</mat-icon>
            </div>
        </div>
    </div>

    <div class="mail-content">
        <div class="label-title">Comments</div>
        <div [innerHTML]="mail.message"></div>
    </div>
</div>
