<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32">
            <div class="pb-24 font-size-18 font-weight-300">
                Monitor all types.
            </div>

            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <!-- Widgets ---------------------------------------- 2 -->
                <fuse-widget
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    class="widget"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-md="25"
                >
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div
                            class="pl-16 pr-8 py-16 h-52"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div class="h3">Bookings</div>
                            <button mat-icon-button aria-label="more">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div
                            class="pt-8 pb-32"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                        >
                            <div
                                class="light-blue-fg font-size-72 line-height-72"
                            >
                                {{
                                    widgets.widget1.data.count[
                                        widgets.widget1.currentRange
                                    ]
                                }}
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET 2 -->
                <fuse-widget
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    class="widget"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-md="25"
                >
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div
                            class="pl-16 pr-8 py-16 h-52"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div class="h3">Assistance</div>

                            <button
                                mat-icon-button
                                class="fuse-widget-flip-button"
                                aria-label="more"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div
                            class="pt-8 pb-32"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                        >
                            <div class="red-fg font-size-72 line-height-72">
                                {{ widgets.widget2.data.count }}
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 2 -->

                <!-- WIDGET 3 -->
                <fuse-widget
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    class="widget"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-md="25"
                >
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div
                            class="pl-16 pr-8 py-16 h-52"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div class="h3">Customers</div>

                            <button
                                mat-icon-button
                                class="fuse-widget-flip-button"
                                aria-label="more"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div
                            class="pt-8 pb-32"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                        >
                            <div class="orange-fg font-size-72 line-height-72">
                                {{ widgets.widget3.data.count }}
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 3 -->

                <!-- WIDGET 4 -->
                <fuse-widget
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    class="widget"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-md="25"
                >
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div
                            class="pl-16 pr-8 py-16 h-52"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div class="h3">Orders</div>

                            <button
                                mat-icon-button
                                class="fuse-widget-flip-button"
                                aria-label="more"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <div
                            class="pt-8 pb-32"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                        >
                            <div
                                class="blue-grey-fg font-size-72 line-height-72"
                            >
                                {{ widgets.widget4.data.count }}
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / Widgets ----------------------------------------------- -->
            </div>

            <!-- Widget 6 -->
            <div class="pb-24 font-size-18 font-weight-300">
                Where are your clients?
            </div>

            <div class="fuse-card auto-width p-16">
                <agm-map
                    class="h-640 w-100-p"
                    [minZoom]="2"
                    [maxZoom]="2"
                    [fullscreenControl]="false"
                    [rotateControl]="false"
                    [zoomControl]="false"
                    [scaleControl]="false"
                    [streetViewControl]="false"
                    [scrollwheel]="false"
                    [styles]="widgets.widget6.styles"
                >
                    <agm-marker
                        *ngFor="let marker of widgets.widget6.markers"
                        [latitude]="marker.lat"
                        [longitude]="marker.lng"
                    >
                        <agm-info-window>
                            <strong>{{ marker.label }}</strong>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
            <!-- / Widget 6 -->
        </div>
    </div>
</div>
