<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32">
            <!-- Widget 6 -->
            <div class="pb-24 font-size-18 font-weight-300">
                Where are your clients?
            </div>

            <div class="fuse-card auto-width p-16">
                <agm-map
                    class="h-640 w-100-p map-container"
                    [minZoom]="2"
                    [maxZoom]="20"
                    [fullscreenControl]="true"
                    [rotateControl]="true"
                    [zoomControl]="true"
                    [scaleControl]="true"
                    [streetViewControl]="true"
                    [scrollwheel]="true"
                    [styles]="widgets.widget6.styles"
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [zoom]="12"
                >
                    <agm-marker [latitude]="latitude" [longitude]="longitude">
                        <agm-info-window>
                            <strong>Sample</strong>
                        </agm-info-window>
                    </agm-marker>
                    <agm-marker
                        *ngFor="let m of markers; let i = index"
                        (markerClick)="assistanceDetails(m)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [markerDraggable]="m.draggable"
                        [iconUrl]="m.iconUrl"
                    >
                        <agm-info-window>
                            <strong>{{ m.label }}</strong>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
            <!-- / Widget 6 -->
        </div>
    </div>
</div>
