.flox-avatar-wrapper {
  position: relative;

  .flox-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;

    &.small {
      height: 30px;
      width: 30px;
    }

    &.huge {
      height: 90px;
      width: 90px;
    }

  }

  .flox-status {
    align-items: center;
    background: mat-color($primary, 500);
    border-radius: 50%;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 70%;
    width: 30px;
    height: 30px;
  }

}
