<mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let mechanic">
            <mat-checkbox
                [(ngModel)]="checkboxes[mechanic.id]"
                (ngModelChange)="onSelectedChange(mechanic.id)"
                (click)="$event.stopPropagation()"
            >
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let mechanic">
            <p class="text-truncate font-weight-600">
                {{ mechanic.name }} {{ mechanic.lastName }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm
            >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let mechanic" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{ mechanic.email }}
            </p>
        </mat-cell>
    </ng-container>

    <!--  Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md
            >Phone</mat-header-cell
        >
        <mat-cell *matCellDef="let mechanic" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{ mechanic.phone }}
            </p>
        </mat-cell>
    </ng-container>

    <!--   Column -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg
            >Status</mat-header-cell
        >
        <mat-cell *matCellDef="let mechanic" fxHide fxShow.gt-lg>
            <mat-icon *ngIf="mechanic.status" class="active-icon green-600 s-16"
                >check</mat-icon
            >
            <mat-icon *ngIf="!mechanic.status" class="active-icon red-500 s-16"
                >close</mat-icon
            >
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let mechanic">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button
                    mat-icon-button
                    (click)="$event.stopPropagation(); toggleStar(mechanic.id)"
                    aria-label="Toggle star"
                >
                    <mat-icon
                        class="amber-fg"
                        *ngIf="user.starred.includes(mechanic.id)"
                        >star</mat-icon
                    >
                    <mat-icon
                        class="secondary-text"
                        *ngIf="!user.starred.includes(mechanic.id)"
                        >star_border</mat-icon
                    >
                </button>

                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu"
                    aria-label="More"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button
                        mat-menu-item
                        aria-label="remove"
                        (click)="deleteMechanic(mechanic)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let mechanic; columns: displayedColumns"
        class="mechanic"
        (click)="editMechanics(mechanic)"
        [ngClass]="{ 'accent-50': checkboxes[mechanic.id] }"
        matRipple
        [@animate]="{ value: '*', params: { y: '100%' } }"
    >
    </mat-row>
</mat-table>
