<div id="order" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-16"
                    [routerLink]="'/apps/shop-services/orders'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2">Order {{ order.reference }}</div>
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxLayout="column" fxFlex>
                    <mat-tab label="Order Details">
                        <div
                            class="order-details tab-content p-24"
                            fusePerfectScrollbar
                        >
                            <div class="section pb-48">
                                <div
                                    class="pb-16"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <mat-icon class="m-0 mr-16 secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <div class="h2 secondary-text">
                                        {{ order.customer.name }}
                                    </div>
                                </div>

                                <div class="customer mb-32">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Contact One</th>
                                                <th>Contact Two</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div
                                                        fxLayout="row"
                                                        fxLayoutAlign="start center"
                                                    >
                                                        <span
                                                            class="name text-truncate"
                                                            >{{
                                                                order
                                                                    .extraDetails
                                                                    .customerExtraInfo
                                                                    .contactOne
                                                            }}
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span
                                                        class="phone text-truncate"
                                                        >{{
                                                            order.extraDetails
                                                                .customerExtraInfo
                                                                .contactTwo
                                                        }}</span
                                                    >
                                                </td>
                                                <td>
                                                    <span
                                                        class="company text-truncate"
                                                        >{{
                                                            order.extraDetails
                                                                .customerExtraInfo
                                                                .notes
                                                        }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <mat-accordion class="addresses">
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title
                                                >Delivery
                                                Address</mat-panel-title
                                            >
                                        </mat-expansion-panel-header>

                                        <div fxFlex fxLayout="column">
                                            <div class="address h4 py-24">
                                                {{
                                                    order.extraDetails
                                                        .customerAddress
                                                        .formattedAddres
                                                }}
                                            </div>
                                            <agm-map
                                                class="w-100-p h-400"
                                                [zoom]="15"
                                                [latitude]="
                                                    order.extraDetails
                                                        .customerAddress
                                                        .latitude
                                                "
                                                [longitude]="
                                                    order.extraDetails
                                                        .customerAddress
                                                        .longitude
                                                "
                                            >
                                                <agm-marker
                                                    [latitude]="
                                                        order.extraDetails
                                                            .customerAddress
                                                            .latitude
                                                    "
                                                    [longitude]="
                                                        order.extraDetails
                                                            .customerAddress
                                                            .longitude
                                                    "
                                                >
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Products">
                        <div
                            class="products tab-content p-24"
                            fusePerfectScrollbar
                        >
                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>Catergory</th>
                                        <th>Description</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th class="w-80">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="product-row"
                                        *ngFor="let product of order.products"
                                    >
                                        <td>
                                            {{ product.categoryByname }}
                                        </td>
                                        <td>
                                            {{ product.description }}
                                        </td>
                                        <td>
                                            {{ product.name }}
                                        </td>
                                        <td>
                                            {{
                                                product.price
                                                    | currency: "PHP":"₱"
                                            }}
                                        </td>
                                        <td>
                                            {{ product.quantity }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Order Summary">
                        <div
                            class="invoice tab-content p-24"
                            fusePerfectScrollbar
                        >
                            <div
                                id="invoice"
                                class="compact page-layout blank"
                                fxLayout="row"
                                fusePerfectScrollbar
                            >
                                <div class="invoice-container">
                                    <div class="card">
                                        <div class="header">
                                            <div class="invoice-date">
                                                Order Date:
                                                {{
                                                    order.date.toDate()
                                                        | date
                                                            : "yyyy/MM/dd h:mm:ssa"
                                                }}
                                            </div>

                                            <div
                                                fxLayout="row"
                                                fxLayoutAlign="space-between stretch"
                                            >
                                                <div class="client">
                                                    <div
                                                        class="invoice-number"
                                                        fxLayout="row"
                                                        fxLayoutAlign="start center"
                                                    >
                                                        <span class="title"
                                                            >REF#</span
                                                        >
                                                        <span class="number">{{
                                                            order.reference
                                                        }}</span>
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">
                                                            {{
                                                                order.customer
                                                                    .name
                                                            }}
                                                        </div>
                                                        <div class="address">
                                                            {{
                                                                order
                                                                    .extraDetails
                                                                    .customerAddress
                                                                    .formattedAddres
                                                            }}
                                                        </div>
                                                        <div class="phone">
                                                            Contact One
                                                            {{
                                                                order
                                                                    .extraDetails
                                                                    .customerExtraInfo
                                                                    .contactOne
                                                            }}
                                                        </div>
                                                        <div class="email">
                                                            Contact Two
                                                            {{
                                                                order
                                                                    .extraDetails
                                                                    .customerExtraInfo
                                                                    .contactTwo
                                                            }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div
                                                    class="issuer accent"
                                                    fxLayout="row"
                                                    fxLayoutAlign="start center"
                                                >
                                                    <div class="logo">
                                                        <img
                                                            src="assets/images/logos/logo.png"
                                                        />
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">
                                                            {{
                                                                shopInformation.mainName
                                                            }}
                                                        </div>
                                                        <div class="address">
                                                            {{
                                                                shopInformation.writtenAddress
                                                            }}
                                                        </div>
                                                        <div class="phone">
                                                            {{
                                                                shopInformation.mainContact
                                                            }}
                                                        </div>
                                                        <div class="email">
                                                            {{
                                                                shopInformation.email
                                                            }}
                                                        </div>
                                                        <div class="website">
                                                            {{
                                                                shopInformation.secondaryName
                                                            }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <table class="simple invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>PRODUCT</th>
                                                        <th class="text-right">
                                                            PRICE
                                                        </th>
                                                        <th class="text-right">
                                                            QUANTITY
                                                        </th>
                                                        <th class="text-right">
                                                            TOTAL
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="
                                                            let product of order.products
                                                        "
                                                    >
                                                        <td>
                                                            <div class="title">
                                                                {{
                                                                    product.name
                                                                }}
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{
                                                                product.price
                                                                    | currency
                                                                        : "PHP"
                                                                        : "₱"
                                                            }}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ product.amount }}
                                                        </td>
                                                        <td class="text-right">
                                                            {{
                                                                product.amount *
                                                                    product.price
                                                                    | currency
                                                                        : "PHP"
                                                                        : "₱"
                                                            }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table
                                                class="simple invoice-table-footer"
                                            >
                                                <tbody>
                                                    <tr class="subtotal">
                                                        <td>SUBTOTAL</td>
                                                        <td>
                                                            {{
                                                                order.total
                                                                    | currency
                                                                        : "PHP"
                                                                        : "₱"
                                                            }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="footer">
                                            <div class="note">
                                                COD, pay within Delivery Thank
                                                you for your business
                                            </div>
                                            <div
                                                fxLayout="row"
                                                fxLayoutAlign="start start"
                                            >
                                                <div class="logo">
                                                    <img
                                                        src="assets/images/logos/logo.png"
                                                    />
                                                </div>
                                                <div class="small-note">
                                                    {{
                                                        order.extraDetails
                                                            .customerExtraInfo
                                                            .notes
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / INVOICE -->
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Order Status">
                        <div
                            class="invoice tab-content p-24"
                            fusePerfectScrollbar
                        >
                            <form
                                class="update-status p-24"
                                (ngSubmit)="updateStatus()"
                                [formGroup]="statusForm"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                <mat-form-field
                                    appearance="outline"
                                    class="mr-16"
                                    fxFlex
                                >
                                    <mat-label>Status</mat-label>
                                    <mat-select
                                        formControlName="newStatus"
                                        required
                                    >
                                        <mat-option
                                            *ngFor="let status of orderStatuses"
                                            [value]="status.id"
                                        >
                                            {{ status.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button
                                    mat-raised-button
                                    class="mat-accent updateButton"
                                    [disabled]="statusForm.invalid"
                                >
                                    Update Status
                                </button>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
