<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFill>
  <div class="p-24" fxFlex>
    <mat-toolbar>
      Notifications
    </mat-toolbar>
    <div class="divider"></div>
    <div *ngFor="let notification of notifications" ngClass="{{notification.type}}"
         (click)="close()" routerLink="/app/cases/summary/{{notification.caseId}}" 
         class="mb-12 bg-gray p-8" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="pl-8 pr-8">{{ notification.icon }}</mat-icon>
      <span fxFlex class="ml-16">{{ notification.message}}</span>
      <mat-icon >keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bottom-bar mb-8" fxFlex="8">
    <button mat-button (click)="close()" type="button">{{'close' | uppercase }}</button>
  </mat-toolbar>
</div>


