@import '../../../core/scss/variables/theme';
@import '~@angular/material/theming';

.alert {
  border-left: mat_color($warn) 3px solid;
}

.information {
  border-left: mat_color($accent) 3px solid;
}

.warning {
  border-left: mat_color($mat-yellow, 500) 3px solid;
}

.bg-gray {
  background-color: mat_color($mat-grey, 300);
}
